<!DOCTYPE html>
<html>
<head>
	<title>Comment Update</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Yelpcamp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/campg" class="nav-link">
        Home
      </a>
    </li>
    
  </ul>
  <ul class="navbar-nav ml-auto">
    <% if(!user){%>
        <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Signup</a>
    </li>

    <% } else { %>
        <li class="nav-item">
        	<a href="/profile" class="nav-link">Signed in as <%= user.username %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
    <% } %>
  </ul>
    
  </div>
</nav>
<div class="container mt-2">
    	<div>
    	<h1 style="text-align: center;">Create a new Campground:</h1>
	        <form action="/campg/yid/<%=camp.id%>/comments/<%=comment.id%>?_method=PUT" method="POST" style="width: 30%; margin: 25px auto;">
		    <p>Comment <input class="form-control" type="text" name="comment" value="<%=comment.text%>"></p>      
		    <br>
		    <button class="btn btn-lg btn-primary btn-block">Submit</button>
	        </form>
            </div>
    </div>


</body>
</html>