<!DOCTYPE html>
<html>
<head>
	<title>Star</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="row  text-center" style="margin-top: 15%;">
		<div class="col-md-12">
			<div class=" container jumbotron">
				<h1>Path Cannot be found</h1>
				<hr>
				<h5>The path you specified cannot be found by the srrver.</h5>
			</div>
		</div>
	</div>
	

</body>
</html>